.toolbar-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
  }
  
  #buttons {
    display: flex;
    align-items: center;
    gap: 10px; 
  }