<mat-toolbar color="primary">
    <div class="toolbar-container">
      
      <div class="nav-section">
        <p class="app-title">Explorer</p>
        <div class="nav-buttons">
          <button mat-button [routerLink]="['/home']">Home</button>

          <button *ngIf="user && user.username !== ''" mat-button [matMenuTriggerFor]="blogMenu">
            <span>Blog</span>
            <mat-icon>expand_more</mat-icon>
          </button>
          <button *ngIf="user && (user.role === 'author')" mat-button [matMenuTriggerFor]="tourMenu">
            <span>Tours</span>
            <mat-icon>expand_more</mat-icon>
          </button>

          <button *ngIf="user && user.username !== '' && user.role === 'tourist'" mat-button [routerLink]="['/position-simulator']">
            <mat-icon>location_on</mat-icon>
            <span>Simulator pozicije</span>
          </button>
        </div>
      </div>
  
      <div class="user-buttons">
        <button *ngIf="user && user.username === ''" color="accent" mat-raised-button [routerLink]="['login']">Login</button>
        
        
        <ng-container *ngIf="user && user.username !== ''">
          
          <button mat-icon-button [routerLink]="['/profile']" aria-label="User Profile">
            <mat-icon>account_circle</mat-icon>
          </button>
  
          <button color="accent" mat-raised-button (click)="onLogout()">Log out</button>
        </ng-container>
      </div>
  
    </div>
  </mat-toolbar>
  

  <mat-menu #blogMenu="matMenu">
    <button mat-menu-item [routerLink]="['/blog/create']">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Add Blog</span>
    </button>
    <button mat-menu-item [routerLink]="['/blog/view']"> 
      <mat-icon>visibility</mat-icon>
      <span>View Blogs</span>
    </button>
  </mat-menu>

  <mat-menu #tourMenu="matMenu">
    <button mat-menu-item [routerLink]="['/tours/create']">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Create tour</span>
    </button>
    <button mat-menu-item [routerLink]="['/tours']"> 
      <mat-icon>visibility</mat-icon>
      <span>View tour</span>
    </button>
  </mat-menu>